.cast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  min-height: 450px;
  margin: -15px;
}

.item {
  width: 200px;
  margin: 15px;
}

.photo {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: rgb(49, 30, 5);
}

.character {
  margin-top: 10px;
  font-size: 15px;
  color: #794c27;
}
